.home-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  height: 120vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bree Serif';
}
.home-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ipl-logo {
  width: 40px;
  margin-right: 10px;
}
.home-heading {
  color: white;
  font-size: 50px;
}
.home-list {
  list-style-type: none;
}
.home-cards-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav-link {
  text-decoration: none;
}